# Specify filepatterns you want git to ignore.

MotorController.X/build/
MotorController.X/debug/
MotorController.X/disassembly/
MotorController.X/dist/
MotorController.X/nbproject/private/
MotorController.X/nbproject/Package-*.bash
MotorController.X/nbproject/configurations.xml
MotorController.X/nbproject/Makefile-*
util/~*

hardware/render/*
hardware/*.autosave
report/*.pdf

git.bat
